#uiDiv {
  margin-top: 1%;
  float: right;
  position: fixed;
  top: -2%;
  right: 0;
  width: 17%;
  height: 97%;
  overflow: hidden;
}

#buttonContainer {
  margin-top: 10%;
  float: right;
  position: fixed;
  width: 15%;
  height: 97%;
  right: 30px;
}

svg {
position: fixed;
top:0;
left:0;
float: left;
width: 80%;
height: 99%;
margin-left: 1%;
overflow: hidden;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 8px;
}

button {
width: 90%;
height: 15%;
margin: 5%;
padding: 5%;
font-size: 1.8em;
border: 2px solid white;
color: white;
text-align: left;
text-decoration: none;
border-radius: 8px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button.invert::before {
  font-family: fontAwesome;
  content: "\f1fb\00a0";
  float:right;
  vertical-align: middle;
  line-height: 70px;  
}

button.art::before {
  font-family: fontAwesome;
  content: "\f03e\00a0";
  float:right;
  vertical-align: middle;
  line-height: 70px;  
}

button.colour::before {
  font-family: fontAwesome;
  content: "\f1fc\00a0";
  float:right;
  vertical-align: middle;
  line-height: 70px;  
}

#hide {
background-color: blue;
}

#invert{
background-color: black;
}

#grey{
background-color: #575757;
}

 .filtered {
   filter: url(#grayscale);
 }